.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.todo-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

form label {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form button[type="submit"] {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li button {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #e53935;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

li button:hover {
  background-color: #c62828;
}

li .task-name {
  flex-grow: 1;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

li .priority {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

p .BigTitle {
    font-weight: bold;
}

.completed {
  text-decoration: line-through; 
  color: gray;
}

.buttondelete{
  position: relative;
  margin: 5px;
  padding: 5px;
  right: 0%;
}

.buttonEdit{
  position: relative;
  right: 0%;
}

span{
  text-align: center;
  padding-right: 1%;
  padding-left: 1%;
  width: 100%;
}


